@media (max-width: 1200px)
  .container
    width: 95%
  .navbar
    &-burger
      &-menu
        display: none

@media (max-width: 992px)
  .container
    width: 700px
  .navbar
    &__search
      margin-left: auto
    &-menu
      &__link
        font-size: 11px
  .logo
    width: 132px

@media (max-width: 768px)
  .container
    width: 90%
  .navbar    
    &-bottom
      display: none
    &__search
      display: none
    &__user
      display: none
    
  .button
    &-menu
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 16px
      height: 11px
      border: none
      outline: none
      background: none
      padding: 0
      margin: 0
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $color-text
  .logo
    width: 99px
