@import "var"

*
  box-sizing: border-box

body
  font-size: 14px
  background-color: $color-bg
  color: $color-text
  font-family: $muli

.container
  max-width: 1110px
  margin: auto

img
  max-width: 100%

.button
  border: none
  outline: none
  cursor: pointer

.input
  padding: 0 23px 0 23px
  min-height: 50px
  border-radius: 4px
  background-color: #fff
  border: none
  outline: none
  &::placeholder
    color: $color-footer-text

.textarea
  padding: 18px 23px
  border-radius: 4px
  background-color: #fff
  border: none
  outline: none
  height: 140px
  &::placeholder
    color: $color-footer-text
  
.form-button
  padding: 18px 65px
  min-height: 50px
  border-radius: 4px
  color: $color-text-light
  background-color: $primary

.form-info
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  align-self: center

  